.chat__write {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat__write i {
  font-size: 18px;
  opacity: 0.75;
}

.chat__write input {
  width: 100%;
  padding: 15px 0;
  padding-left: 40px;
  border: none;
  font-size: 14px;
  left: 30px;
  margin: 0 auto;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.chat__write input:focus {
  animation: shadow 1.7s linear infinite forwards;
  outline: none;
  width: 80%;
  border-radius: 30px;
  transform: translateY(-30px);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write__left {
  position: absolute;
  left: 15px;
}
.chat__write__right {
  position: absolute;
  right: 12px;
}
.chat__write__right i {
  margin-right: 7px;
}
/* input animation*/

.write__message:focus ~ .chat__icon {
  opacity: 0;
}
.chat__icon {
  transition: opacity 0.5s ease-in-out;
}
/* animation */
@keyframes shadow {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

@keyframes incomingAni {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.messages__incoming {
  animation: incomingAni 1s ease-in-out forwards;
}
@keyframes sentAni {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.messages__sent {
  animation: sentAni 1s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(2turn);
  }
}
.messages img {
  animation: spin 2s linear forwards 0.5s;
}
/* 대화방 전체 코드 */
.messages {
  padding-top: 70px;
  background-color: #a0c0d7;
  min-height: 100vh;
}
.body__chat {
  padding: 10px 0px;
  padding-bottom: 0px;
  height: 100%;
}
.body__chat .header,
.body__chat .status-bar {
  padding: 0px 20px;
}

/* 대화방 내 요소들 코드*/
.messages__timestamp {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 12px;
  text-transform: uppercase;
}
.messages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messages__content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.messages__bubble {
  display: block;
  background-color: #fdf01b;
  padding: 10px;
  border-radius: 15px;
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.messages__sent .messages__bubble {
  margin-right: 15px;
  border-bottom-right-radius: 0px;
}

.messages__incoming .messages__bubble {
  border-bottom-left-radius: 0px;
}

.messages__incoming {
  align-self: flex-start;
  display: flex;
}
.messages__sent {
  align-self: flex-end;
  display: flex;
}
.messages img {
  width: 37px;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 15px;
  align-self: flex-start;
}
.messages__incoming .timestamp {
  align-self: flex-end;
  font-size: 11px;
  margin-left: 6px;
  color: #504f4f;
}
.messages__sent .timestamp {
  align-self: flex-end;
  font-size: 11px;
  margin-right: 6px;
  color: #504f4f;
}
/* index.css */
.chats__chat.friend {
  margin: 20px 0;
}
