.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend .friend__avater {
  width: 40px;
  height: 40px;
  border-radius: 37%;
  margin-right: 10px;
}

.friend__avater.g-avater {
  width: 70px;
}
.friend__avater.m-avater {
  width: 60px;
}
.friend .friend__column {
  display: flex;
  align-items: center;
}
.friend__content .friend__name {
  display: block;
  margin-bottom: 4px;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}
.friend__content .friend__name {
  font-size: 13px;
  font-weight: 600;
}
.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}
.friend__content .friend__bottom-text {
  font-size: 13px;
}

/*Friens From here*/

.friends .friends__me {
  margin: 20px 0px;
}
.friends .friends__plus {
  margin: 20px 0px;
  padding: 15px 0px;
  font-size: 14px;
  border-top: 1px solid #dfd6d6be;
  border-bottom: 1px solid #dfd6d6be;
}
h5 {
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 12px;
}
.friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #52e084;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend__now-listening__title {
  opacity: 0.7;
  font-size: 12px;
}
.friend__now-listening__play {
  color: #52e084;
  font-weight: 600;
  font-size: 12px;
}
.friends__friends.friend {
  margin-bottom: 10px;
}
.friend__add-btn {
  background-color: #e6e6e6;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
}
img {
  cursor: pointer;
}

.friends__list .friends__friends:nth-last-child(1) {
  margin-bottom: 60px;
}

.friends__list .friend__column {
  margin: 2.5px 0px;
}
