.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend .friend__avater {
  width: 50px;
  border-radius: 35%;
  margin-right: 15px;
}

.friend__avater.g-avater {
  width: 70px;
}
.friend__avater.m-avater {
  width: 60px;
}
.friend .friend__column {
  display: flex;
  align-items: center;
}
.friend__content .friend__name {
  display: block;
  margin-bottom: 4px;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}
.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}
.friend__content .friend__bottom-text {
  font-size: 13px;
}

/*Friens From here*/

.friends .friends__me {
  margin: 20px 0px;
  border-top: 1px solid #eeecec7c;
  border-bottom: 1px solid #eeecec7c;
}
.friends .friends__plus {
  margin: 20px 0px;
  font-size: 15px;
}
h5 {
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 12px;
}
.friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #52e084;
  font-size: 13px;
}
.friend__now-listening__title {
  opacity: 0.7;
}
