.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  opacity: 0.9;
}
.header__title {
  font-size: 24px;
  font-weight: 600;
}
.header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.header__header-column {
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.header__btn {
  margin-right: 20px;
}
a {
  color: inherit;
}
