@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 15px;
  color: #020202;
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
a {
  text-decoration: none;
}
.status-fixed {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  padding-top: 7px;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  z-index: 2;
}

@keyframes pop {
  from {
    transform: translateY(35px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
main {
  animation: pop 0.65s ease-in-out forwards;
}
